.is-purple{background: #a900d1;

    background-color: #a900d1;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 1rem;}

.isdone{ color: #cccccc; text-decoration: line-through;}

.isdone a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: #cccccc;
  } 
.isdone a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: #cccccc;;
  } 
.isdone a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color: #cccccc;
  } 
.isdone a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: #cccccc;
  } 


.edit{ color: inherit; text-decoration: none;}

.edit a:link    {
  /* Applies to all unvisited links */
color: inherit; text-decoration: none;
  } 
.edit a:visited {
  /* Applies to all visited links */
color: inherit; text-decoration: none;
  } 
.edit a:hover   {
  /* Applies to links under the pointer */
color: #4a4a4a; text-decoration: none;
  } 
.edit a:active  {
  /* Applies to activated links */
color: inherit; text-decoration: none;
  } 











  .isdone_button{
background:none!important;
color: #cccccc; 
text-decoration: line-through;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
/*     border-bottom:1px solid #444; */
     cursor: pointer;
  }
   .isdone_button:focus {
  	outline: none;
	}



.isdone_icon{
	background:none!important;
    border:none; 
	color: #cccccc; 
}
   .isdone_icon:focus {
  	outline: none;
	}





@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.is-divider, .is-divider-vertical {
  display: block;
  position: relative;
}

.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
  background: white;
  color: #b5b5b5;
  content: attr(data-content);
  display: inline-block;
  font-size: 0.75rem;
  padding: .5rem .8rem;
  -webkit-transform: translateY(-1.1rem);
  -ms-transform: translateY(-1.1rem);
  transform: translateY(-1.1rem);
  text-align: center;
}

.is-divider {
    border-top: 0.1rem solid #dbdbdb;
    height: 1px;
    margin: 1rem 0;
    text-align: center;
}

.is-divider-vertical {
  display: block;
  padding: 2rem;
  position: relative;
}

.is-divider-vertical::before {
  border-left: 0.1rem solid #dbdbdb;
  bottom: 1rem;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 1rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.is-divider-vertical[data-content]::after {
  left: 50%;
  padding: .4rem 0;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Spinning, gradient circle; CSS only! */
.spincircle_yellow {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:#ffdd57;
  margin-top: -6px;
}

.spincircle_red {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:#ef4230;
  margin-top: -6px;
}


.spincircle_green {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:#2aa030;
  margin-top: -6px;
}


.spincircle_undefined {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color:#cccccc;
  margin-top: -6px;
}

.navbar.has-shadow {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgb(0, 209, 178);
}