  <!-- {% load widget_tweaks %}

   {% for field in form %}
    <div class="field">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}

           {{field}}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}

        {% else %}
         {{field}}
        {% endif %}
      {% else %}
         {{field}}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">
          {{ field.help_text }}
        </small>
      {% endif %}
    </div>
  {% endfor %}

 -->





 {% load widget_tweaks %}

       {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

   {% for field in form %}
    <div class="field">
      {{ field.label_tag }}

      {% if form.is_bound %}

        {% if field.errors %}

           {{field}}
          

    
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    


  





        {% else %}
         {{field}}
        {% endif %}
      {% else %}
         {{field}}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">
          {{ field.help_text }}
        </small>
      {% endif %}
    </div>
  {% endfor %}

