
<nav class="navbar is-transparent has-shadow">
<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
 <!--      <img src="#" alt="PNG LOGO" width="112" height="28"> -->
 <strong>KASHAM</strong>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="#">
          Task
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item" href="{% url 'task_view'%}">
            View Task
          </a>
          <a class="navbar-item" href="{% url 'task_add'%}">
            Add Task
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="#">
          Category
        </a>
        <div  class="navbar-dropdown ">
          <a class="navbar-item" href="{% url 'category_add'%}">
            Add Category
          </a>
        </div>
      </div>

           <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link  is-active" href="#">
          About
        </a>
        <div id="moreDropdown" class="navbar-dropdown ">
               <div class="navbar-item">
            <div>

             <small>
                  <a class="bd-view-all-versions" href="/versions">version</a>
                </small>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">0.0.1</strong>
              </p>

             

            </div>
          </div>
          </div>
      </div>

    </div>

    <div class="navbar-end">

      <div class="navbar-item">
        <div class="field is-grouped">
          
          <p class="control">
            <a class="button is-light" href="/logout">

              <span>Logout</span>
            </a>
          </p>


          <p class="control">
            <a class="button is-primary" href="#">
              <span class="icon">
                <i class="fa fa-question"></i>
              </span>
              <span>Help</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
