{% load static %}
<!-- <script src="{% static 'assets/js/wysihtml5-0.3.0.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.min.css' %}"> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Default Title!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {%block css%} {%endblock%}
  </head>

{%block nav%}
{% include 'includes/navbar.html' %}
{%endblock%}

 {% block body %} 
  <body>


  {% block hero %} 
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {% block herotitle %}Task list{% endblock %}
      </h1>
      <h2 class="subtitle">
      <p>  {% block herosubtitle %}<!-- Take control -->{% endblock %}</p>
      </h2>
    </div>
  </div>
</section>
{% endblock %}

  {% block content %} 

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Taskman</strong>!
      </p>
    </div>
  </section>
  {% endblock %}
  </body>
   {% endblock %} 
  {%block javascript%} {%endblock%}
    <script type="text/javascript">
    
    document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
</html>

 