{% extends "base.html" %}
{% load static %}
{% block title %} Add Task {% endblock %}
{%block css%} 
<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
   <link rel="stylesheet" href="{% static 'confirmDate.css' %}">


{%endblock%}



{% block herotitle %}Add Category{% endblock %}
{% block herosubtitle %}{% endblock %}

{% block content %}   



<section class="section">
    <div class="container is-widescreen">


<div class="content">
<form method="post" novalidate >
  {% csrf_token %}


{% include 'includes/form1.html' with form=form %}

<div class="field ">
  <div class="field-label">
  
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
  </div>


</form>

</div>

<div class="content">

    {% for cat in catlist %}
    <div class="is-divider" ></div> 
     <div class="columns is-multiline is-mobile ">
        <div class="column is-1-tablet">{{cat.name}} </div>
        <div class="column "> 
  
     <form action="{% url 'category_delete' cat.pk %}" method="post">
        {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'category_add' %}"/>
          <input type="submit" class="fa isdone_icon" value="&#xf00d;"/>
      </form> 

        </div>
      </div>
            
    {% endfor %}

    

</div>
</section>









 






 
 {% endblock %}
}


{%block javascript%} 
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'js/flatpickr.js' %}"></script>
   <script src="{% static 'js/confirmDate.js' %}">></script>

<script type="text/javascript">
$("#datetimepicker").flatpickr({  
  // "dateFormat" : 'd-m-Y',
  enableTime: true, 
  //altInput: true,
  plugins: [new confirmDatePlugin({})],
  
});
</script>
{%endblock%}