{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{%block nav%}{%endblock%}

{% block herotitle %}{% endblock %}
{% block herosubtitle %}{% endblock %}
{% block content %}
  <section class="section">
   <div class="container">
   <div class="columns">
    <div class="column is-one-third "></div>
    <div class="column ">
     <p class="bd-notification is-primary"> 

      You Have Logged out <a href="{% url 'login'%}">Login</a>

      </p>
    </div>
    <div class="column"></div>
  </div>
  </div>

  </section>
{% endblock %}