{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{%block nav%}{%endblock%}

{% block herotitle %}{% endblock %}
{% block herosubtitle %}{% endblock %}
{% block body %} 
{% block content %}

    <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
 <h3 class="title has-text-grey">KASHAM</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">


           <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form1.html' with form=form %}
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-block is-primary is-fullwidth">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>

            </form>

          </div>
          <p class="has-text-grey">
            <a href="{% url 'signup'%}">Sign Up</a> &nbsp;·&nbsp;
            <a href="../">Forgot Password</a> &nbsp;·&nbsp;
            <a href="../">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% endblock %}