{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{%block nav%}{%endblock%}

{% block herotitle %}Sign Up{% endblock %}
{% block herosubtitle %}{% endblock %}
{% block body %} 
{% block content %}

<section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
 
          <p class="subtitle has-text-grey">Sign Up</p>
          <div class="box">


           <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form1.html' with form=form %}
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-block is-primary is-fullwidth">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>

            </form>

          </div>
          <p class="has-text-grey">
            <a href="{% url 'login'%}">Login</a> &nbsp;·&nbsp;
            <a href="#">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% endblock %}