{% extends "base.html" %}

{% block title %} View Task {% endblock %}
{% block herotitle %}View Task{% endblock %}
{% block content %}
<section class="section">
    <div class="container is-widescreen">



{% load humanize %} 
{% if task  %}


		<div class="columns is-mobile">
		<div class="column is-1-tablet "><!-- color code --> </div>
		<div class="column is-1-tablet "><strong> Status</strong> </div>
  		<div class="column is-3-tablet "><strong> Description</strong> </div>
  		<div class="column is-1-tablet"><strong>Priority</strong></div>
  		<div class="column is-1-tablet"><strong>Responsible</strong></div>
  		<div class="column is-2-tablet"><strong>Duedate</strong></div>
  		<div class="column"></div>
 		<div class="column"></div>
 		<div class="column"></div>
		</div>

{% for t in task %}

		{% if t.is_done %}
		<div class="columns isdone is-mobile">
  		<div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd"> 
 		<form action="{% url 'task_undone' t.pk %}" method="post">
	     	{% csrf_token %}
	        <input type="hidden" name="next" value="{% url 'task_view' %}"/>
	        <input type="submit" class="isdone_button" value=" {{ t.description|upper|truncatewords:'100'}}"/>
	    </form>

  		</div>
  		<div class="column is-1">
		<form action="{% url 'task_delete' t.pk %}" method="post">
	     	{% csrf_token %}
	        <input type="hidden" name="next" value="{% url 'task_view' %}"/>
	        <input type="submit" class="fa isdone_icon" value="&#xf00d;"/>
	    </form>   
  		
  		</div>
		{% else %}
		<div class="columns is-mobile">
		<div class="column is-1-tablet"><!-- color code -->
			<div class="spincircle_{{t.color}}"></div>
		 </div> 
		<div class="column is-1-tablet">{{ t.percentage}}% </div> 
  		<div class="column is-3-tablet"> <a href="{% url 'task_update' task_id=t.id %}" class="edit"> {{ t.description|upper|truncatewords:"100"  }} </a></div>
  		<div class="column is-1-tablet">{{ t.priority_id}}</div>
  		<div class="column is-1-tablet">{{ t.responsible}}</div>
  		<div class="column is-2-tablet">{{ t.duedate|naturaltime}}</div>
		
		{% endif %}
 		

		{% if t.is_done %}
  		
  		<div class="column"></div>
		<div class="column"></div>
		<div class="column"></div>
		
		{%else%}

		<div class="column is-1-tablet"><a href="/task_update/{{t.id}}/" class="button is-light">Edit</a> </div>
		<div class="column is-1-tablet">
   		<form action="{% url 'task_delete' t.pk %}" method="post">
	     	{% csrf_token %}
	        <input type="hidden" name="next" value="{% url 'task_view' %}"/>
	        <input type="submit" class="button is-danger" value="Delete"/>
	    </form>
		</div>
		<div class="column is-1-tablet">
	
	     <form action="{% url 'task_done' t.pk %}" method="post">
	     	{% csrf_token %}
	        <input type="hidden" name="next" value="{% url 'task_view' %}"/>
	        <input type="submit" class="button is-primary" value="Done"/>
	    </form>
		</div>

		{% endif %}

		</div>
{% endfor %}

{% else %}


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <a href="{% url 'task_add'%}">Add a task </a>
      </h1>
<!--       <h2 class="subtitle">
        Primary subtitle
      </h2> -->
    </div>
  </div>
</section>


{% endif %}
	</div>
</div>



 {% endblock %}


