{% extends "base.html" %}
{% load static %}
{% block title %} Add Task {% endblock %}
{%block css%} 
<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
   <link rel="stylesheet" href="{% static 'confirmDate.css' %}">


{%endblock%}



{% block herotitle %}Add Task{% endblock %}
{% block herosubtitle %}{% endblock %}

{% block content %}   
<section class="section">
    <div class="container is-widescreen">



<form method="post" novalidate >
  {% csrf_token %}


{% include 'includes/form1.html' with form=form %}

<div class="field ">
  <div class="field-label">
  
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
  </div>


</form>

</div>
</section>


 {% endblock %}


{%block javascript%} 
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'js/flatpickr.js' %}"></script>
   <script src="{% static 'js/confirmDate.js' %}">></script>

<script type="text/javascript">
$("#datetimepicker").flatpickr({  
  // "dateFormat" : 'd-m-Y',
  enableTime: true, 
  //altInput: true,
  plugins: [new confirmDatePlugin({})],
  
});
</script>
{%endblock%}